.text-input {
    width: 325px;
}

.send-button {
	margin-left: 25px;
}

h1 {
	font-size: 140%;
}

h2 {
	font-size: 125%;
}

html {
    height: 100%;
    width: 100%;
    background: url(../images/ferriswheel.jpg) no-repeat bottom right;
}