body {
    margin: 0;
}

.navigationForm {
    padding-top: 50px;
}

form, p {
    margin-left: 10px;
}

.header {
    background-color: #000000;
    height: 45px;
    width: 100%;
    position: absolute;
    padding-left: 5px;
}

h1 {
	font-size: 140%;
    color: white;
}

h2 {
	font-size: 125%;
}

form {
    margin-bottom: 25px;
}

.image-button {
    margin: 5px;
}

.wheel-table {
    border-collapse: collapse;
}

.wheel-table-header {
    text-align: center;
    background: none repeat scroll 0 0 #E5E5E5;
    border-bottom: 1px solid #BBBBBB;
    padding: 16px;
}

.wheel-table-odd-row {
    text-align: center;
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #BBBBBB;
}

.wheel-table-even-row {
    text-align: center;
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #BBBBBB;
}

.errorMessage {
    color: red;
}

.infoMessage {
    color: blue;
}

.warnMessage {
    color: orange;
}