h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

p {
    font-size: 1.5em;
}

a {
    color: darkblue;
}

input {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2em;
    width: 150px;
}

input[type=submit] {
    margin: 2em 0 0 25em;
    width: 75px;
    height: 20px;
}

label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 1em 1em 0 0;
}
