h1 {
    font-size: 125%;
}

h2 {
    font-size: 115%;
}

a {
    color: darkblue;
}

input {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2em;
}

input[type=submit] {
    margin: 5 0 0 27em;
}

textarea {
    display : inline-block;
    vertical-align: middle;
    margin-top: 2em;
}

label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 1em 1em 0 0
}