h1 {
	font-size: 1.5rem;
}

a {
    color: darkblue;
}

div {
    display: block;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
}

form {
    padding-top: 25px;
}

input, button {
    font-size: 1.2rem;
}