<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <base href="/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <title>Intercept Me</title>
</head>
<body>
<div class="container" id="main">
    <div class="row" id="welcome">
        <div class="col-12">
            <h1>Intercept Me</h1>
            <p>This exercise consists of the two tasks described below. You will need OWASP ZAP or another intercepting
                proxy to complete them.</p>
        </div>
    </div>

    <div class="row" id="firstTask">
        <div class="col-12">
            <h2>First Task</h2>
            <p>Your first task is to send <strong>inject</strong> (lowercase) via the form so that the backend
                returns <strong>SUCCESS</strong> (uppercase).</p>

            <form action="#" th:action="@{/first}" th:object="${firstTask}" method="post">
                <fieldset>
                    <label for="name">Text</label>
                    <input type="text" id="name" th:field="*{name}" pattern="^(?!.*inject).*$"/>
                    <input type="submit" value="Submit"/>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="row" id="secondTask">
        <div class="col-12">
            <h2>Second Task</h2>
            <p>Your second task is to send the form so that the backend returns <strong>SUCCESS</strong>
                (uppercase).</p>

            <form action="#" th:action="@{/second}" method="post">
                <fieldset>
                    <input type="submit" value="Submit"/>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>
