.text-input {
    width: 250px;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

td {
    font-size: 115%;
}

th {
    background-color: darkgrey;
    padding: 2pt;
    font-weight: bold;
    font-size: 125%;
}
