<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Duke Encounters</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Duke Encounters</h1>
    
    <div>
        <a href="https://commons.wikimedia.org/wiki/File:Duke-Guitar.png" target="_blank"><img th:src="@{duke-guitar.png}" alt="Duke by Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Duke-Guitar.png" style="float:right"/></a>
    </div>

    <p>Welcome to <strong>Duke Encounters</strong>, the leading web application for Java Duke spotting.</p>

    <p>This web application is using <a href="http://appsensor.org" target="_blank">OWASP AppSensor</a> for Application Intrusion Detection.</p>

    <h2>The Latest Encounters</h2>

    <p><a href="encounters">View all encounters</a> | <a href="search">Search encounters</a></p>

    <h2>Actions</h2>

    <p><a href="register">Register</a> | <a href="login">Login</a></p>

</body>
</html>
