h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

th {
    background-color: darkgrey;
    padding: 2pt;
    font-weight: bold;
    font-size: 1.2em;
}

.text-input {
    width: 250px;
}

fieldset {
    width: 500px;
    margin-top: 20px;
}